<h1><strong>New furniture_spare</strong></h1>

<b style="color: RED;margin-left:1000px"></b>
<%= link_to 'VIEW DATABASE', view_database_path, :class => "btn btn-primary" %>

<%= link_to 'HOME', furniture_spares_path, :class => "btn btn-success " %>



<%= render 'form' %>



